{% extends "base_generic.html" %}

{% block title %}<title>Статистика по приложению</title>{% endblock %}

{% block content %}
<h1>Система сбора и распределения заявок</h1>

  <p>Это прототип веб-приложеия для сбора заявок пользователей и интеграции их в партнёрские CRM-системы.</p>

<h2>Статистика</h2>

  <p>Список основных сущностей используемых в БД.</p>
  <ul>
    <li><strong>Партнёров:</strong> {{ num_partner }}</li>
    <li><strong>Регионов:</strong> {{ num_region }}</li>
    <li><strong>Заявок на демодоступ:</strong> {{ num_demo_requests }}</li>
  </ul>

    <p>Благодарим за заявку! В ближайшее время с вами свяжется представитель компании в Вашем регионе.</p>

{% endblock %}